################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
.cache/
www/
/.github/workflows/docs.yml
/.github/workflows/jekyll-gh-pages.yml
