################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
.cache/
www/
/.vs/apidocs.slnx/v18/DocumentLayout.backup.json
/.vs/apidocs.slnx/v18/DocumentLayout.json
