################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/apidocs.slnx/FileContentIndex
.cache/
www/
/.github/workflows/docs.yml
/.github/workflows/jekyll-gh-pages.yml
